In [3]:
import requests
from bs4 import BeautifulSoup
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
import os

In [5]:
seed_urls = ['https://inshorts.com/en/read/technology',
             'https://inshorts.com/en/read/sports',
             'https://inshorts.com/en/read/world']

1.for loop which is going through all the seed urls
2.for each urls which is my category --> getting all the cards
3.once i got all cards, in each card i am scraping --> headline, news_article and category

# Scraping

In [6]:
def build_dataset(seed_urls):
    news_data = []
    for url in seed_urls:
        news_category = url.split('/')[-1]
        data = requests.get(url)
        soup = BeautifulSoup(data.content, 'html.parser')
        
        all_cards = soup.find_all('div', class_="news-card")
        
        news_articles = [{
            'news_headline': card.find('span', attrs={"itemprop": "headline"}).string,
            'news_article': card.find('div', attrs={"itemprop": "articleBody"}).string,
            'news_category': news_category
        } for card in all_cards]
        news_data.extend(news_articles)
    # end of for loop
    df =  pd.DataFrame(news_data)
    df = df[['news_headline', 'news_article', 'news_category']]
    return df

In [7]:
news_df = build_dataset(seed_urls)
news_df.head(10)

,news_headline,news_article,news_category
0,YouTuber says he faked broken ankle for free b...,YouTuber and Instagram influencer Jamie Zhu wa...,technology
1,Facebook translates Xi Jinping's name to 'Mr S...,Facebook has blamed a technical error for Chin...,technology
2,Viral Facebook video helps Bangladeshi man reu...,A viral Facebook video helped a 78-year-old Ba...,technology
3,EVs will be cheaper than regular cars a miscon...,Maruti Suzuki India's Executive Director Shash...,technology
4,WhatsApp becomes 2nd non-Google app to reach 5...,With over 500 crore downloads on Google Play S...,technology
5,Pune man suffers intracerebral haemorrhage whi...,A 25-year-old man who suffered an intracerebra...,technology
6,"WhatsApp down in India, users unable to send p...",Facebook-owned messaging platform WhatsApp suf...,technology
7,WhatsApp services resume after three-hour outa...,WhatsApp on Sunday evening faced an outage in ...,technology
8,TikTok can grow bigger than Instagram: Snap CE...,"Evan Spiegel, the CEO of Snapchat's parent com...",technology
9,'Unending love for Amazon': RSS economic wing ...,RSS economic wing Swadeshi Jagran Manch's co-c...,technology

In [8]:
news_df.news_category.value_counts()

technology    25
world         25
sports        25
Name: news_category, dtype: int64

In [9]:
news_df.head()

,news_headline,news_article,news_category
0,YouTuber says he faked broken ankle for free b...,YouTuber and Instagram influencer Jamie Zhu wa...,technology
1,Facebook translates Xi Jinping's name to 'Mr S...,Facebook has blamed a technical error for Chin...,technology
2,Viral Facebook video helps Bangladeshi man reu...,A viral Facebook video helped a 78-year-old Ba...,technology
3,EVs will be cheaper than regular cars a miscon...,Maruti Suzuki India's Executive Director Shash...,technology
4,WhatsApp becomes 2nd non-Google app to reach 5...,With over 500 crore downloads on Google Play S...,technology